<!--Name:Aditee Dakhane-->
<!--StudentID: 1001745502-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Pictures for salary less than</title>
</head>
 <h2>1001745502</h2>
    <h2>Aditee Dakhane</h2>
    <br>
<form action="{{url_for('displayallpictures')}}" method="POST">
  <label for="sal">Salary Less Than:</label><br>
  <input type="text" id="sal" name="sal" value="99000"><br>
  <input type="submit" value="Submit">
</form>
<br>
    <table border = 1>
         <thead>
            <td>Salary</td>
            <td>Pic</td>
         </thead>
<!--database rows are fetched-->
         {% for row in rows %}
         <tr>
            <td>{{row["Salary"]}}</td>
            <td><img src='../static/{{row["Pic"]}}' alt="no picture available"></td>
         </tr>
         {% endfor %}
      </table>
 <h2> <a href = "/">Home</a> </h2>
<body>

</body>
</html>