<!--Name:Aditee Dakhane-->
<!--StudentID: 1001745502-->

<!doctype html>
<html>
<body>
   <h2>1001745502</h2>
    <h2>Aditee Dakhane</h2>
    <br>
<h3><a href = "/retrievedata">View table details</a></h3>
<h3><a href="/searchstudent">Search a Student</a> </h3>
<h3><a href="/viewpictures">View Pictures By Salary</a> </h3>
<h3><a href="/insertimage">Add Picture for Dave</a> </h3>
<h3><a href="/newdata">Change Keywords for Jason</a> </h3>
<h3><a href="/changedata">Change Salary for Someone</a> </h3>
<h3><a href="/removedata">Remove Dave</a> </h3>
<br>
</body>
</html>
